.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    height: 10vmin;
  }
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 52px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.activeClassName {
  background-color: #494f51;
  color: #fff !important;
  border-color: #ed1c24;
  outline: none;
  border-radius: 40px;
}

.cartButton {
  width: 40%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #368f1f;
  margin-top: 15px !important;
  margin: auto;
  background-color: #368f1f;
  color: white;
  font-weight: bolder;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;

  
}
@media (max-width: 768px) {
  .cartButton{
    width: 70%;
  }
 }
.cartButton:hover{
  background-color: #144907;
}

.cartButtonDisabled {
  width: 40%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  margin-top: 15px !important;
  margin: auto;
  background-color: grey;
  color: white;
  font-weight: bolder;
  padding: 0.5rem;
  text-decoration: none;
  pointer-events: none;
  cursor: initial;
}
.cartButtonImg {
  width: 20px;
  margin-right: 2px;
}
